NDIF_API_KEY="example_api_key"
HUGGING_FACE_TOKEN="hf-example-token"
ANTHROPIC_API_KEY="sk-example-api-key"

# note that you don't need all of these. this is just an example. NDIF_API_KEY is required for nnsight
# with remote=True. HUGGING_FACE_TOKEN for running models with the transformers lib
# finally you'll need an OPENAI_API_KEY or ANTHROPIC_API_KEY for running LLM-as-a-judge
# depending on our final implementation
